.form-input {
    display: block;
    width: 696px;
    height: 40px;
    padding: 0 20px;
    margin-top: 0;
    border: 4px solid #007C3C;
    border-radius: 30px;
    background: white;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
}

.form-input:focus {
    outline: none;
}

.form-input::placeholder {
    color: #808080;
    font-weight: bold;
    font-size: 16px;
}

.form-input--with-arrow {
    background-image: url('../../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px;
    padding-right: 45px;
}

.form-input--error {
    background-color: rgba(196, 8, 8, 0.1);
}

.form-input--with-arrow.form-input--error {
    background-color: rgba(196, 8, 8, 0.1);
    background-image: url('../../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px;
}
