* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
    color: #000000;
    text-decoration: none;
  }
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
  
/* header */
header {
  max-width: 100%;
}
.header {
  width: 100%;
  height: 50px;
  background: #FFE632; 
  border-bottom: 3px #000000 solid;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  z-index: 999;
}
.header h1 {
  display: flex;
  align-items: center;
}
.headerUl {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 30px;
}
li {
  list-style: none;
}