/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.order-complete {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;

  &__container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  &__title {
    color: var(--color-green);
    font-size: 48px;
    font-weight: 900;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 600  ;
  }

  &__image {
    width: 410px;
    height: 272px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__message {
    font-size: 12px;
    line-height: 1.8;
    color: #717171;
    font-weight: bold;
    max-width: 500px;
  }
}
