* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000;
}
a {
    color: #007c3c;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
p,
h2,
h3,
button,
small,
span,
a {
    font-size: 16px;
    line-height: 1.75;
}
h1{
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h3{
    font-size: 20px;
}
.product-title {
  white-space: pre-wrap; /* これで \n が改行として扱われます */
}

/* ItemBox */
.ItemBox {
    cursor: pointer;
}
.ItemBox:hover {
    transition: 0.3s;
    color: #007c3c;
}
.ItemBox img {
    height: 270px;
    object-fit: cover;
}
.ItemBox:hover {
    img {
    transform: scale(1.05);
    transition: 0.3s;
    transition: 0.3s;
    opacity: 0.8;
    }
}
.itemImageWrapper {
    height: 270px;
    border: 5px solid #000000;
    border-radius: 20px;
    overflow: hidden;
}
.ItemBox h3 {
    display: inline-block;
    margin: 24px 0 16px;
}
.ItemBox p {
    color: #007c3c;
    font-weight: bold;
    font-size: 20px;
}
/* 商品リスト*/
.ProductList {
    padding: 60px 80px 280px;
}
.ProductItem {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 72px;
    column-gap: 100px;
}
.ProductItem a {
    display: block;
}
/* 商品詳細 */
.Product {
    display: flex;
    gap: 75px;
    width: 100%;
    justify-content: space-between;
    padding-top: 32px;
}
.productSubtitle{
    color: #808080;
    display: block;
    margin: 24px 0 40px;
}
.Product img {
    border: 5px solid #000000;
    border-radius: 20px;
    object-fit: cover;
}
.ProductLeft img {
    width: 656px;
    height: 520px;
    margin-bottom: 20px;
}
.ProductImage {
    display: flex;
    justify-content: space-between;
}
.ProductImage img {
    width: 204px;
    height: 162px;
}
.ProductInfo span {
    display: block;
    color: #808080;
}
.ProductInfo {
  padding: 48px 0;
  border-bottom: #007c3c dotted 3px;
}
.ProductRecipe {
  margin-top: 48px;
}
.recipeMenu {
  margin-top: 32px;
}
.recipeMenu img {
  width: 206px;
  height: 163px;
}
.ProductPrice {
  font-weight: bold;
  font-size: 32px;
  color: #007c3c;
}
.ProductButton {
  display: flex;
  justify-content: start;
  gap: 32px;
  margin: 60px 0 10px;
}
.ProductButton span{
    color: #007c3c;
}
.cartBtn, .ProductButton div{
    color: #ffffff;
    border: 4px solid #007c3c;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    background-color: #007c3c;
    cursor: pointer;
}
.ProductButton div{
    color: #007c3c;
    background-color: #ffffff;
    width: 94px;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 0;
    padding: 0;
    button{
        color: #007c3c;
        width: 16px;
        margin: 0;
        padding: 0;
    }
}
.cartBtn{
    color: #ffffff;
    width: 260px;
    background-color: #007c3c;
}
.FreeShipping{
  display: flex;
  flex-direction: column;
  margin: 40px 0 48px;
  gap: 24px;
  width: 300px;
}
.FreeShipping a {
  border-bottom: #007c3c 3px solid;
  position: relative;
  margin-left: 40px;
  font-weight: bold;
}
.FreeShipping a:first-of-type::before {
  content: "";
  background: url("../../assets/arrow.png") no-repeat;
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: -20px;
  margin-right: 5px;
}
.ProductMain {
  padding-bottom: 56px;
  border-bottom: #007c3c dotted 3px;
}
.ProductText{
    margin-right: 40px;
}
.ProductText h2 {
  display: inline-block;
  margin: 56px 0;
}
.ProductText p {
  display: block;
  margin-bottom: 56px;
}
