@charset "UTF-8";

/* ********************************************
// --- リセット ---
// ※ブラウザのデフォルトCSSをリセット
// ***************************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}
html {
  font-size: 16px;
}
body {
  /* font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    "メイリオ", Meiryo, sans-serif; */
  font-family: sans-serif;
}
header,
footer,
nav,
menu,
article,
aside,
section,
details,
figcaption,
figure {
  display: block;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
}
img {
  vertical-align: bottom;
}
a img {
  border: none;
}
strong {
  font-weight: normal;
}
i {
  font-style: normal;
}

/* ********************************************
// Button.jsx
// ***************************************** */

.button {
  position: relative;
  width: 100px;
  height: 48px;
  border: solid 4px;
  border-radius: 30px;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  transition: transform 0.25s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.25);
}

.button a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-weight: 700;
}

/* ボタンの色を管理するclass */
.btnGreen {
  border-color: #fff;
  color: #fff;
  background-color: #007c3c;
}

.btnWhite {
  border-color: #007c3c;
  color: #007c3c;
  background-color: #fff;
}

.btnYellow {
  border-color: #007c3c;
  color: #007c3c;
  background-color: #fff50a;
}

/* ********************************************
// Card.jsx
// ***************************************** */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 380px;
  height: 350px;
  padding: 20px 25px;
  background-color: #d6f8e6;
  border: 5px solid #000;
  border-radius: 12px;
  overflow: hidden;
  /* transition: transform 0.2s; */
}

.cardImage {
  width: 100%;
  /* width: 280px; */
  height: 180px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 12px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 16px; */
  overflow-wrap: anywhere;
  gap: 45px;
}

.cardTitle {
  font-size: 2rem;
  margin-bottom: 8px;
}

.cardDescription {
  display: flex;
  gap: 40px;
  color: #007c3c;
  font-weight: 700;
}

.cardTime {
  content: "";
  display: inline-block;
  height: 23px;
  padding-left: 30px;
  background-image: url("../assets/timeIcon.svg");
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 23px;
}

.cardKcal {
  content: "";
  display: inline-block;
  height: 25px;
  padding-left: 28px;
  background-image: url("../assets/fireIcon.svg");
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 23px;
}

/* ********************************************
// CardSlider.jsx
// ***************************************** */

:global(.swiper),
:global(.swiper-wrapper),
:global(.swiper-slide) {
  overflow: visible;
}

/* :global(.swiper-slide) {
  margin-left: 10px;
  margin-right: 10px;
} */

.cardSliderWrapper {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  overflow: visible;
  /* background-color: orange; */
  z-index: 0;
}

.cardSwiper {
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* margin-top: 100px; */
  overflow: visible;
}

/* :global(.cardSwiper) {
  overflow: visible;
} */

.cardSlide {
  display: flex !important;
  justify-content: center;
  margin: 20px 0;
}

:global(.swiper-slide-active) .card {
  transform: scale(1.1); /* サイズを大きく */
  opacity: 1;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* 強調したければ */
  background-color: #acf1cc;
  transition: transform 0.3s ease;
}

.controlsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 2rem;
  /* background-color: pink; */
}

.slideButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.navButton {
  /* font-size: 24px; */
  position: relative;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.navButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prevButton::before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #007c3c; /* ← 向き */
}

.nextButton::before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #007c3c; /* → 向き */
}

.dotWrapper {
  display: flex;
  /* justify-content: center; */
  gap: 8px;
  /* text-align: center;
  cursor: pointer; */
}

.dot {
  position: relative;
  /* width: 16px; */
  width: 30px;
  /* height: 16px; */
  cursor: pointer;
}

.dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d6f8e6;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.activeDot::before {
  background-color: #007c3c;
  width: 12px;
  height: 12px;
}

/* ********************************************
// HotItems.jsx
// ***************************************** */

.hotItemContent {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #007c3c;
}

/* ********************************************
// NewsHeading.jsx
// ***************************************** */

.newsWrapper {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  font-weight: 700;
}

.newsDate {
  color: #007c3c;
}

.newsTitle {
  width: 100%;
  padding: 20px 0;
  font-size: 1rem;
}

.newsTitle:hover {
  color: #007c3c;
  cursor: pointer;
}

/* ********************************************
// NewsHeading.jsx
// ***************************************** */

.newsList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.newsListItem {
  padding: 0 20px;
  /* padding-bottom: 20px; */
  border-bottom: 3px dotted #007c3c;
}

/* ********************************************
// SectionTitle.jsx
// ***************************************** */
.sectionTitleWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: auto;
  gap: 15px;
  margin: 40px 0;
  /* text-align: left; */
}

.title {
  color: #000000;
  font-size: 34px;
}

.subtitle {
  color: #007c3c;
  font-size: 14px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
