.page-title__title {
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin: 90px 0 0 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    letter-spacing: 0.12em;
}

.page-title__subtitle {
    color: var(--color-green);
    font-size: 20px;
    font-family: Zen Maru Gothic, sans-serif;
    text-align: left;
    margin: 0 0 32px 0;
    max-width: 1280px;
    width: 100%;
    padding: 0;
}
