.quantity-button {
  background-color: white;
  color: var(--color-green);
  border: 4px solid var(--color-green);
  border-radius: 20px;
  width: 94px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 16px;
  font-weight: bold;
}

.quantity-button__btn {
  background-color: transparent;
  border: none;
  color: var(--color-green);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: color 0.2s ease;
}

.quantity-button__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity-button__btn:hover:not(:disabled) {
  background-color: var(--color-light-green01);
}

.quantity-button__display {
  color: var(--color-green);
  font-weight: bold;
}