* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
p,
small {
  font-size: 16px;
  line-height: 1.5;
}
small {
  color: #007c3c;
  display: block;
}
h2 {
  font-size: 48px;
}

/* header */
header {
  max-width: 100%;
}
.header {
  width: 100%;
  height: 60px;
  background: #fff50a; 
  border-bottom: 5px #000000 solid;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  z-index: 999;
}
.header h1 {
  display: flex;
  align-items: center;
}
.headerUl {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 30px;
}
li {
  list-style: none;
}

/* footer */
footer {
  height: 300px;
  background-image: url("../src/assets/mountain.png");
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 60px 80px 0;
}
.footerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.footerText img {
  width: 150px;
}
.footerIcon {
  display: flex;
  justify-content: flex-end;
}
.footerIcon img {
  width: 100px;
}
.footerSponmu {
  text-align: center;
}

/* ItemBox */
.ItemBox {
  cursor: pointer;
  padding: 30px;
  height: 500px;
}
.ItemBox:hover, .RecipeBox:hover {
  transition: 0.3s;
  color: #007c3c;
  img {
    transform: scale(1.05);
    transition: 0.3s;
  }
}
.ItemBox img {
  height: 270px;
  object-fit: cover;
}
.itemImageWrapper {
  height: 270px;
  border: 5px solid #000000;
  border-radius: 20px;
  overflow: hidden;
}
.ItemBox h3 {
  display: inline-block;
  font-size: 32px;
  margin: 20px 0; 
}
.ItemBox p {
  color: #007c3c;
  font-weight: bold;
}
/* productlist */
.ProductList {
  padding: 60px 80px 0;
}
.ProductItem {
  column-gap: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
}
.RecipeBox h3{
  display: inline-block;
  font-size: 32px;
  margin:24px 0 16px 0;
}
.ProductItem a {
  display: block;
}

/* productdetail */
.Product {
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  padding-top: 30px;
}
.Product img {
  border: 5px solid #000000;
  border-radius: 20px;
  object-fit: cover;
}
.ProductLeft img {
  width: 640px;
  height: 550px;
  margin-bottom: 20px;
}
.ProductImage {
  display: flex;
  justify-content: space-between;
}
.ProductImage img {
  width: 307px;
  height: 264px;
}
.ProductInfo span {
  display: block;
}
.ProductInfo {
  border-bottom: #007c3c dotted 3px;
  color: #808080;
  padding: 60px 0;
}
.ProductRecipe {
  margin-top: 40px;
}
.ProductRecipe h3 {
  font-size: 36px;
}
.recipeMenu {
  display: flex;
  gap: 30px;
  justify-content: start;
  margin-top: 30px;
}
.recipeMenu img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.ProductEnglishName {
  font-size: 20px;
  color: var(--color-gray);
  font-weight: normal;
  margin: 10px 0;
}
.ProductPrice {
  font-size: 32px;
  font-weight: bold;
  color: #007c3c;
}
.ProductButton {
  display: flex;
  gap: 20px;
  justify-content: start;
  margin: 60px 0 10px;
  align-items: center;
}
.QuantityControl {
  display: flex;
  align-items: center;
  gap: 10px;
}
.QuantityControl button {
  align-items: center;
  background-color: #ffffff;
  border: 4px solid #007c3c;
  border-radius: 50%;
  color: #007c3c;
  cursor: pointer;
  font-weight: bold;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
}
.Quantity {
  color: #007c3c;
  font-weight: bold;
  font-size: 24px;
  min-width: 30px;
  text-align: center;
}
.AddToCartButton {
  align-items: center;
  background-color: #ffffff;
  border: 4px solid #007c3c;
  border-radius: 30px;
  color: #007c3c;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 30px;
  text-align: center;
}
.FreeShipping p,
.FreeShipping a {
  color: #007c3c;
  font-weight: bold;
}
.FreeShipping a {
  border-bottom: #007c3c 1px solid;
  display: inline-block;
  margin-left: 21px;
}
.FreeShipping p:before {
  content: "";
  background: url("./assets/arrow.png") no-repeat;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  top: 4px;
  margin-right: 5px;
}
.ProductMain {
  border-bottom: #007c3c dotted 3px;
  padding-bottom: 60px;
}
.ProductText h3 {
  display: inline-block;
  font-size: 32px;
  margin: 60px 0 30px;
}
.ProductText p {
  display: block;
  margin-bottom: 30px;
}

/* Recipe */
.RecipeMiutes span:nth-of-type(2):before,
.RecipeMiutes span:first-of-type::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;  
  margin-right: 8px;   
  vertical-align: middle;
  background-repeat: no-repeat; 
}
.RecipeMiutes span:first-of-type::before{
  background-image: url('./assets/kcal.png'); 
}
.RecipeMiutes span:nth-of-type(2):before{
  background-image: url('./assets/timeIcon.svg'); 
}
.RecipeBox:nth-of-type(2){
  position: relative;
  bottom: -20px;
}
.RecipeMiutes span{
  font-weight: bold;
  color: #007c3c;
}
.RecipeMiutes{
  display: flex;
  gap: 32px;
}
.RecipeBox:nth-of-type(2) .RecipeMiutes{
  position: relative;
  bottom: -40px;
}
.recipeInfo{
  display: flex;
  gap: 100px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.recipeInfo img{
  width: 640px;
  height: 410px;
  border: #000000 solid 5px;
  border-radius: 20px;
}
.RecipeMiutesDetail span{
  color: #007c3c;
  font-size: 32px;
  font-weight: bold;
}
.RecipeMiutesDetail span:first-of-type::before,
.RecipeMiutesDetail span:nth-of-type(2):before{
  width: 35px;
  height: 35px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;   
  display: inline-block;
  margin-right: 16px;   
  vertical-align: middle;
}
.RecipeMiutesDetail span:first-of-type::before{
  background-image: url('./assets/kcal.png'); 
}
.RecipeMiutesDetail span:nth-of-type(2):before{
  background-image: url('./assets/timeIcon.svg'); 
}
.RecipeMiutesDetail{
  display: flex;
  gap: 80px;
}
.recipeText div:first-of-type{
  margin: 20px 0 40px;
  line-height: 1.75;
}
.recipeText h2{
  line-height: 1.5;
}
.recipeMethod {
  counter-reset: my-counter; 
  list-style: none; 
  padding-left: 0;
}
.recipeMethod li {
  align-items: center;
  padding-left: 40px;
  position: relative;
}
.recipeMethod li::before {
  width: 30px; 
  height: 30px;
  background-color: #E0F8EB;
  border: #007c3c 2px solid;
  border-radius: 50%;
  color: #007c3c; 
  content: counter(my-counter); 
  counter-increment: my-counter; 
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 30px;
  margin-left: 40px;
  margin-top: 8px;
  text-align: center;
}
.materialMethod h3{
  border-bottom: #007c3c 3px solid;
  font-size: 32px;
  padding-bottom: 16px;
  text-align: center;
}
.materialMethod{
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  border-bottom: #007c3c 3px solid;
}
.useMaterial{
  margin: 100px auto;
  text-align: center;
}
.useMaterial h3{
  font-size: 20px;
}
.useMaterial a{
  font-weight: bold;
  color: #007c3c;
}
.recipeMaterial{
  width: 450px;
  padding: 30px 0;
}
.recipeMaterial li,
.Method li{
  align-items: baseline;
  display: flex;
  border-bottom: #007c3c 3px dotted;
  font-weight: bold;
}
.recipeMaterial li{
  justify-content: space-between;
  padding: 16px 60px;
}
.Method{
  width: 700px;
}
.recipeMethod{
  padding: 30px 0;
}
.Method li{
  padding: 16px 40px 16px 100px;
}
.ingredient-name {
  text-align: left; 
}
.ingredient-amount {
  text-align: right; 
}


/* ********************************************
// Home.js
// ***************************************** */
/* Home */
.home {
  padding-top: 60px;
}

/* Hero */
.hero {
  text-align: center;
}

.hero-image {
  position: relative;
  display: block;
  width: 100%;
}

.hero-image-text {
  writing-mode: vertical-rl;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 28px;
  left: 50%;
  top: calc(20% + 60px);
  color: var(--color-white);
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.hero-description {
  margin-top: 50px;
  line-height: 3rem;
}

/* Ranking */
.hot-items {
  height: 1300px;
  padding-top: 250px;
  background: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-white) 50%,
    var(--color-light-green03) 50%,
    var(--color-light-green03) 100%
  );
  background-image: url(../src/assets/backimage01.png);
  background-size: 100vw;
  background-repeat: no-repeat;
}

/* Commitment */
.commitment {
  padding: 150px 0;
  background-color: var(--color-light-green03);
}

.commitment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 左右に寄せる */
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
}

.commitment-right {
  /* text-align: right; */
  flex-direction: row-reverse;
}

.commitment-image {
  position: relative;
  width: 600px;
  height: 424px;
  overflow: hidden;
  background-color: var(--color-white);
}

.commitment-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-left {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.image-right {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.commitment-text {
  flex: 1;
  max-width: 536px;
  margin: 0 auto; /* 真ん中寄り */
}

.commitment-title {
  color: var(--color-green);
  font-size: 2rem;
  line-height: 4rem;
}

.commitment-description {
  width: 536px;
  line-height: 4rem;
}

/* LoopLogo */
.loop-logo {
  position: relative;
  overflow: hidden;
  margin: 150px 0;
  width: 100%;
  white-space: nowrap;
}

.logo-track {
  display: flex;
  animation: scroll-left 10s linear infinite;
}

.logo-image {
  flex-shrink: 0;
  width: auto;
  margin-right: 240px;
  height: 60px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Recipe */

.recipe {
  position: relative;
  padding: 150px 1rem;
  background-color: var(--color-yellow);
  overflow: hidden;
}

.recipe::before,
.recipe::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-color: var(--color-white);
  background-size: cover;
  z-index: 1;
}

.recipe::before {
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%202000%20500%22%20width%3D%22100%25%22%3E%3Cpath%20d%3D%22M%200%20150%20Q%20125%20150%20250%2075%20Q%20500%20-75%20750%2075%20Q%20875%20150%201000%20150%20Q%201125%20150%201250%2075%20Q%201500%20-75%201750%2075%20Q%201875%20150%202000%20150%20L%202000%20500%20L%200%20500%20Z%22%20fill%3D%22%23fff029%22/%3E%3C/svg%3E");
}

/* 下の波線 */
.recipe::after {
  bottom: 0;
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%202000%20500%22%20width%3D%22100%25%22%3E%3Cpath%20d%3D%22M%200%20150%20Q%20125%20150%20250%2075%20Q%20500%20-75%20750%2075%20Q%20875%20150%201000%20150%20Q%201125%20150%201250%2075%20Q%201500%20-75%201750%2075%20Q%201875%20150%202000%20150%20L%202000%20500%20L%200%20500%20Z%22%20fill%3D%22%23fff029%22/%3E%3C/svg%3E");
}

.card-list {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}

/* News */
.news {
  width: 80%;
  margin: 0 auto 295px;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Column.js */
.title {
  padding-top: 60px;
  margin-left: calc(-100vw + 229px);
}

.column-list {
  width: calc(100vw - 176px);
  margin-top: 28px;
  margin-left: 80px;
}